#landing {
    background-image: url('/images/landingBr1.JPG');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #FFFFFF; /* White color for paragraph text */
}

#landing .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align text to the left */
    height: 100%;
    text-align: left; /* Align text to the left */
}

#landing h1 {
    font-family: 'Pacifico', cursive;
    color: #D2B48C; /* Light coffee-related color for the heading */
}

#landing p {
    color: #FFFFFF; /* White color for paragraphs */
}

#landing a {
    color: white;
    background-color: #5A3E36;
    border-color: #5A3E36;
}
