#landing {
    background-image: url('/images/landingBr1.JPG');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #5A3E36; /* Rich brown color for text visibility on beige */
}

#landing .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    text-align: right;
}

#landing h1 {
    font-family: 'Pacifico', cursive;
    color: #5A3E36; /* Color suitable for a beige background */
}

#landing p {
    color: #5A3E36;
}

#landing a {
    color: white;
    background-color: #5A3E36;
    border-color: #5A3E36;
}
