#landing {
    background-image: url('/images/landingBr1.JPG');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #FFFFFF; /* White color for paragraph text */
}

#landing .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align text to the left */
    height: 100%;
    text-align: left; /* Align text to the left */
}

#landing h1 {
    color: #D2B48C; /* Light coffee-related color for the heading */
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6); /* Shadow effect */
}

#landing p {
    color: lightgrey;
    font-family: "Dokdo", serif;
    font-weight: 100;

}

#landing a {
    color: white;
    background-color: #5A3E36;
    border-color: #5A3E36;
}
.slackey-regular {
  font-family: "Slackey", serif;
  font-weight: 400;
  font-style: normal;
}
