.navbar {
    transition: background-color 0.5s ease;
}
.navbar.bg-transparent {
    background-color: transparent;
}
.navbar.bg-white {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}